<?xml version="1.0"?>
<robot name="leap_hand_custom" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- <xacro:include filename="$(find leap_hand_custom_description)/urdf/leap_hand_custom.xacro" /> -->
  <xacro:include filename="$(find leap_hand_custom_description)/urdf/leap_hand_custom_tac3d.xacro" />
  <xacro:include filename="$(find leap_hand_custom_description)/urdf/leap_hand_custom.ros2_control.xacro" />

  <!-- <link name="world"/> -->

  <xacro:leap_hand_custom mesh_dir="package://leap_hand_custom_description/meshes/" parent="world">
    <!-- Use the following line for Mujoco -->
    <!-- <origin xyz="0 0 0.0326776" rpy="${pi} 0 ${pi}" /> -->
    <!-- Use the following line for URDF generation -->
    <origin xyz="0 0 0" rpy="${pi} 0 0" />
  </xacro:leap_hand_custom>

  <xacro:leap_hand_custom_ros2_control name="leap_hand_custom_ros2_control" use_dummy="true" />
</robot>